* {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.button {
  border: 2px solid black;
  width: 60px;
  float: right;
}

.title-author {
  display: inline;
  position: relative;
  right: 70%;
}

.btn-class {
  display: inline-flex;
  position: fixed;
  right: 42vh;
  line-height: 11px;
}
