* {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.button {
  border: 2px solid black;
  width: 60px;
  float: right;
}

.container {
  border: 2px solid black;
  width: 50%;
}

.displayRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.displayRow ul li {
  list-style-type: none;
}
